@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
:root {
  --shadow-color: hsl(0deg 0% 0% / 0.1);
  --shadow-color2: rgba(82, 239, 187, 0.4);
}

::-webkit-scrollbar {
  width: 0;
}

.App {
  line-height: 1.4;
  background-color: #f4f4f4;
  font-family: "Baloo Tamma 2", cursive;
}

.container {
  height: 94vh;
  padding: 10px 200px;
}

.primary-color {
  color: #52efbb;
}

#page-header {
  padding: 0px 200px;
  padding-top: 10px;
  font-size: 20px;
  height: 50px;
}

#page-header > h3 {
  display: inline-block;
  color: #52efbb;
  font-size: large;
}

#page-header > p {
  margin-left: 10px;
  display: inline-block;
  font-size: medium;
}

#titleHighlight {
  background-color: #52efbb;
  color: white;
  border-radius: 7px;
}

.main-panel {
  -webkit-filter: drop-shadow(1px 2px 8px var(--shadow-color));
          filter: drop-shadow(1px 2px 8px var(--shadow-color));
  background-color: white;
  border-radius: 10px;
  border: none;
}

#visual-panel {
  height: 60vh;
}

#overview-panel {
  background-color: #f4f4f4;
  -webkit-filter: drop-shadow(0px 0px 0px var(--shadow-color));
          filter: drop-shadow(0px 0px 0px var(--shadow-color));
}

#myWebcam {
  width: 100%;
  height: 60vh;
  border-radius: 10px;
}

#script-panel {
  height: 25vh;
  overflow: scroll;
}

#config-panel {
  height: 84vh;
}

#infobox {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 20px;
  color: #4d87f5;
}

.bottom {
  position: absolute;
  bottom: 10px;
}

.right {
  position: absolute;
  right: 10px;
}

.top {
  position: absolute;
  top: 10px;
}

.left {
  position: absolute;
  left: 10px;
}

.color-primary {
  color: #52efbb;
}

.floatButton {
  z-index: 9999;
}

.indicateIcon {
  color: #52efbb;
}

#config-panel {
  overflow: scroll;
}

#myScript {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 35px 10px;
  padding-left: 35px;
  height: 16vh;
  overflow: scroll;
  scrollbar-color: red yellow;
}

.ce-block__content {
  max-width: none;
  width: 90%;
}

.ce-toolbar__content {
  max-width: none;
  width: 90%;
}

#config-panel {
  padding: 15px 10px;
}

#search-bar {
  padding: 0 !important;
  padding-left: 5px !important;
  padding-right: 15px !important;
}

.MuiFilledInput-root {
  border-radius: 30px !important;
  height: 2.5em;
  background-color: #fafbfc !important;
  border: none !important;
}

.icon-caption {
  font-size: 15px;
  color: rgba(112, 112, 112, 0.75);
}

.caption-icon {
  display: inline-block;
}

.caption-text {
  display: inline-block;
  position: relative;
  top: -5px;
  left: 5px;
}

.search-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-return-item {
  margin: 2px 4px;
  padding: 2px 6px;
}

.search-return-item:hover {
  background-color: white;
  border-radius: 6px;
  -webkit-filter: drop-shadow(1px 2px 4px var(--shadow-color));
          filter: drop-shadow(1px 2px 4px var(--shadow-color));
  cursor: pointer;
}

.text-item {
  font-size: 16px;
}

#text-item1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#text-item2 {
  font-family: "Poppins", sans-serif;
}

#text-item4 {
  font-family: "Mynerve", cursive;
}

#text-content-container {
  max-height: 8vh;
  overflow: scroll;
}

.result-container {
  margin-bottom: 10px;
}

.image-item {
  height: 60px;
}

.image-item > img {
  height: 100%;
}

#image-content-container {
  max-height: 10vh;
  overflow: scroll;
}

#lottie-content-container {
  max-height: 10vh;
  overflow: scroll;
}

.delete-button {
  position: absolute;
}

.enter-indicator {
  color: #4d87f5;
}

.update-indicator {
  color: #dea60a;
}

.focus-chip {
  background-color: #4d87f5 !important;
  font-size: 16px !important;
  color: white !important;
}

.enter-chip {
  background-color: rgba(165, 196, 255, 0.37) !important;
  font-size: 16px !important;
}

.update-chip {
  background-color: #ffd050 !important;
  font-size: 16px !important;
}

#common-param-box {
  background-color: #f3f8f9;
  border-radius: 6px;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  padding-top: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 30px 30px;
      grid-template-rows: 30px 30px;
}

.param-input {
  width: 40px !important;
  margin-left: 10px !important;
}

.param-tag {
  display: inline;
  position: relative;
  top: 10px;
}

#width-input-container {
  padding-left: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

#height-input-container {
  padding-left: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

#x-input-container {
  padding-left: 20px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

#y-input-container {
  padding-left: 20px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

#rotation-input-container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

::-webkit-scrollbar-track {
  display: none;
}

#speed-input-container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.disabled-field {
  color: rgba(112, 112, 112, 0.4);
}

.canvas-panel {
  height: 60vh;
}

.canvas-container {
  width: 100%;
}

.lower-canvas {
  width: 100%;
}

.upper-canvas {
  width: 100%;
}

.webcam_component {
  width: 100%;
}

.config-section {
  font-family: "Baloo Tamma 2" !important;
  font-size: small !important;
}

label {
  font-family: "Baloo Tamma 2" !important;
  font-size: medium !important;
}

.enter-marker:hover {
  border: solid 1px #4d87f5;
  cursor: pointer;
}

.enter-marker.active {
  background-color: #4d87f5;
  color: white;
}

.enter-marker {
  background-color: rgba(165, 196, 255, 0.37);
  padding: 2px;
  border-radius: 5px;
}

.update-marker {
  background-color: white;
  border-bottom: solid 4px #ffd050;
}

.update-marker:hover {
  background-color: white;
  border-bottom: solid 4px #e58a83;
  cursor: pointer;
}

#timeline {
  margin: 0px 0px;
  width: 90%;
  height: 10px;
  border-radius: 10px;
  background-color: #a5c4ff;
  -webkit-transform: translateY(13px);
          transform: translateY(13px);
}

#scrubber {
  position: absolute;
  left: 20px;
  width: 15px;
  height: 15px;
  border-radius: 99px;
  background-color: #ffa9ab;
  z-index: 1;
  cursor: pointer;
}

#timeline-container {
  padding: 40px 20px;
  height: 60px;
  width: 95%;
}

#playall-button {
  position: relative;
  top: 3px;
  background-color: #52efbb;
  width: 25px;
  height: 25px;
}

.white-icon {
  color: white;
}

.object-thumbnail {
  height: 60px;
}

.entereffect-indicator {
  margin-left: 6px !important;
  background-color: rgba(165, 196, 255, 0.37) !important;
  font-family: "Baloo Tamma 2", cursive !important;
  border-radius: 10px !important;
  font-size: medium !important;
}

.updateeffect-indicator {
  margin-left: 6px !important;
  background-color: #ffd050 !important;
  font-family: "Baloo Tamma 2", cursive !important;
  border-radius: 10px !important;
  font-size: medium !important;
}

.lefthand-indicator {
  margin-left: 6px !important;
  background-color: #f4bbe198 !important;
  font-family: "Baloo Tamma 2", cursive !important;
  border-radius: 10px !important;
  font-size: medium !important;
}

.righthand-indicator {
  margin-left: 6px !important;
  background-color: #c1ffa9a7 !important;
  font-family: "Baloo Tamma 2", cursive !important;
  border-radius: 10px !important;
  font-size: medium !important;
}

.nonehand-indicator {
  margin-left: 6px !important;
  background-color: #fafbfc !important;
  font-family: "Baloo Tamma 2", cursive !important;
  border-radius: 10px !important;
  font-size: medium !important;
}

.customize-indicator {
  color: #ffa9ab;
  display: inline-block;
  position: relative;
  top: 7.5px;
  margin-left: 10px;
}

.playsingle-button {
  background-color: #52efbb !important;
  color: white !important;
  width: 25px;
  height: 25px;
  margin-right: 10px !important;
}

.delete-button {
  margin-left: 20px !important;
}

.Mui-disabled {
  background-color: #b1aeae !important;
  color: #fafbfc !important;
}
/*# sourceMappingURL=App.css.map */